$c_tone_00: #141414;
$c_tone_01: #222;
$c_tone_02: #444;
$c_tone_03: #666;
$c_tone_04: #888;
$c_tone_05: #AAA;
$c_tone_06: #BBB;
$c_tone_07: #DDD;
$c_tone_08: #EEE;
$c_tone_09: #F6F6F6;

$c_accent_A: #00E0FF;
$c_accent_B: #00df38;

$c_main_text: black;
$c_background: rgb(170, 169, 163);

$c_outlines: black;

$paper_corner_radius: 10px;

$height_of_mainheader: 5rem;


$breakpoint_page_size_maxwidth: 900px;

$breakpoint_body_avoid_margin: 614px;
$breakpoint_mainnav_avoid_margin: 370px;
$breakpoint_mainnav_size_change: 570px;

$breakpoint_a4_page_rejigger: 425px;

$breakpoint_heading_size: 614px;

