@use 'variables' as v;

.doodles{
    min-height: 450px;
    height: 100vw;
    max-height: 660px;

    width: 100%;
    position: relative;

    .monster-container{
        position: relative;
        width: 90%;
        height: 40vh;
        margin: 0 auto 0;

        &::after{
            display: block;
            content: '';
            clear: both;
        }
    }

    .monster{
        display: flex;
        flex-flow: column;
        align-items: center;

        .sprite{
            margin-top: 1vh;

            transform-origin: bottom center;
            animation-iteration-count: infinite;
            animation-play-state: paused;
            &:hover{
                animation-play-state: running;
            }
        }

        .hit{
            position: absolute;
            display: block;
            width: 35%;
            height: auto;
  
            pointer-events: none;
        }

        .arrow{
            position: absolute;
            display: block;
    
            width: 10%;
            height: auto;
        }
    }

    .text{
        font-weight: bold;
        font-size: 1.1rem;
    }
} 

@keyframes sprite-jiggle{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}

@keyframes sprite-dodge{
    0%{transform: translateY(0%);}
    10%{transform: translateY(1%);}
    20%{transform: translateY(0%);}
    30%{transform: translateY(1%);}
    35%{transform: translateX(10%);}
    40%{transform: translateY(0%);}
    50%{transform: translateY(1%);}
    60%{transform: translateY(0%);}
    70%{transform: translateY(1%);}
    75%{transform: translateX(-10%);}
    80%{transform: translateY(0%);}
    90%{transform: translateY(1%);}
    100%{transform: translateY(0%);}
}

#monster-absence{
    position: absolute;
    left: 0;
    top: 10%;

    width: auto;

    .sprite{
        min-width: 125px;
        width: 35vw;
        max-width: 217px;

        animation-name: sprite-jiggle;
        animation-duration: 8s;
    }

    .hit{
        top: 30%;
        left: 21%;
    }

    .arrow{
        top: 10%;
        left: 50%;
    }

}
#monster-workload{
    position: absolute;
    right: 0;
    top: 30%;

    width: auto;

    .sprite{
        min-width: 190px;
        width: 56vw;
        max-width: 347px;

        animation-name: sprite-dodge;
        animation-duration: 2s;
    }

    .hit{
        top: 20%;
        left: 10%;
    }

    .arrow{
        top: 10%;
        left: 35%;
    }
}

#player{
    position: absolute;
    left: 6%;
    bottom: 0;

    width: auto;

    display: flex;
    align-items: center;

    .sprite{
        min-width: 140px;
        width: 39vw;
        max-width: 243px;
    }

    p{
        width: 60%;
        max-width: 300px;
        padding: 10% 2% 0 0;
    }

    .arrow{
        display: block;
        width: 10%;
        height: auto;
        padding: 10% 2% 0 0;
    }
}

@media screen and (min-width: 614px){
    .doodles{
        .text{
            font-size: 1.3rem;
        }
        .monster-container{
            width: 85%;
            max-width: 491px;
        }
    }

    #player{
        left: 10%;

        p{
            padding-top: 5rem;
        }
    }
}

@media screen and (min-width: v.$breakpoint_page_size_maxwidth){
    .doodles{
        .text{
            font-size: 1.3rem;
        }
    }
}